*.kdev4
*~
.project
.cproject
*.mode1v3
*.orig
*.rej
*.pbxuser
*.ply.*.bin
*.vcproj.*.user
*.log
Result_*.rgb*
___*
tt.*
tt?.*
tests/image/images/out_*
TAGS
GPATH
GRTAGS
GTAGS
auxiliary
build
cdash
debug
docs
man
release
XCode
externals/vmmlib/
tests/client/configVisitor_objc.mm
build*
CMakeLists.txt.user
