.project
.cproject
*.mode1v3
*.orig
*.rej
*.pbxuser
*.ply.*.bin
*.vcproj.*.user
Result_*.rgb*
___*
tests/image/images/out_*
TAGS
VS2005/Equalizer.suo
auxilary
build
externals/vmmlib/
lib/base/definesDarwin.h
lib/base/definesLinux.h
make/local.mk
obj
server/lexer.cpp
server/parser.cpp
server/parser.hpp
tests/*/Darwin
tests/client/configVisitor_objc.mm
