*.kdev4
*~
.project
.cproject
*.mode1v3
*.orig
*.rej
*.pbxuser
*.ply.*.bin
*.vcproj.*.user
*.log
*.auto.eqc
Result_*.rgb*
___*
TAGS
GPATH
GRTAGS
GTAGS
auxiliary/
build/
CMakeLists.txt.user*
CMake/common
Makefile
Collage/
Deflect/
GLStats/
Lunchbox/
Pression/
Servus/
hwsd/
vmmlib/
